@import "../../styles/variables.scss";

.LandingPage {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/nastuh-abootalebi-eHD8Y1Znfpk-unsplash\ \(1\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
